// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body > div > div > div > div > h1 {
    margin-right: 20px;
}

td.text-right {
    display: flex;
    justify-content: flex-end;
}

td.text-right > * {
    margin: 0 3px;
}
